<%- include('partials/header'); %>
<%- include('partials/nav'); %>

<h1>add image</h1>
<form action=<%= `/image/${id}` %> method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <input class="form-control" type="file" name="filetoupload" id="formFile">
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
    
</form>