<%- include('partials/header'); %>
<%- include('partials/nav'); %>

<body class="article-body">
    <div class="header" style="background-image:url('/images/law.jpg');">
        <div class="overlay"></div>
        <h1 class="white"> <%= article.name %></h1>
    </div>

    <div class="content">

      <div class="article">
        <% article.content.blocks.forEach(function (block){ %>
            <p> <%- block.data.text %> </p>
        <% }) %>
      </div>

      <div class="comments-container">
            <div class="comment">
                <p class="user">Quinton Maisiri</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore temporibus cupiditate deleniti accusamus fugit suscipit quod! Eum officia deserunt veniam.</p>
                <p class="date">28/03/2022</p>
            </div>
      </div>


    </div>
</body>