<%- include('partials/header'); %>
<%- include('partials/nav'); %>


<div>
    <h1>The document you entered contains a lot of profane (unacceaptable words). Pliz revise it and remove any profanity</h1>
    <p>Press the back button on your browser to edit</p>
</div>
