.article-body{
    background-color: white;
}
.content {
    padding: 40px 200px;
}

/* #articles>.container{
    display: flex;
} */
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}
.articles{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.article{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 20px;
}
.user{
    color:gray;
    font-size: 10pt;
}

.date{
    color:gray;
    font-size: 8pt;
}

.comments-container{
    margin-top:20px;
    
}

.comment{
    font-size: 9pt;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 10px;
}
.comment-form{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 10px 20px;
}