.article-body{
    background-color: white;
}
.content {
    padding: 40px 200px;
}

/* #articles>.container{
    display: flex;
} */
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}
.articles{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.article{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 20px;
}
.user{
    color:gray;
    font-size: 12pt;
}

.comments-container{
    margin-top:20px;
    
}

.comment{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin-bottom: 20px;
    padding: 20px;
}