.login-container{
    display: flex;
    margin: 0px;
    padding: 0px;
    width: 100vw;
}

.left , .right{
    position: relative;
    width: 50%;
    background-color: white;
    margin: 0;
    height: 100vh;
}
.left{
    padding: 100px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right{
    background-image: url("/images/login-bg.jpg");
    background-position: center;
    background-size: cover;
}
.login-heading{
    font-family: 'Climate Crisis', cursive;
}
.login-subtext{
    color: gray;
}
form >div{
    margin: 20px 0px;
}
.password{
    color: red;
    display: none;
}